@model IEnumerable<vacunaApp.Models.Persona>
@{
    ViewBag.Title = "Personas";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Personas</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th><small><strong>Nombre</strong></small></th>
                        <th><small><strong>DNI</strong></small></th>
                        <th><small><strong>Primera Dosis</strong></small></th>
                        <th><small><strong>Segunda Dosis</strong></small></th>
                        <th><small><strong>Tercera Dosis</strong></small></th>
                        <th><small><strong>Vacunar</strong></small></th>
                        <th><small><strong>Ficha</strong></small></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var persona in Model)
                     {
                    <tr>
                        <td><small>@persona.Nombre</small></td>
                        <td><small>@persona.NumeroDocumento</small></td>
                        @if (@persona.DosisAplicadas.ElementAtOrDefault(0) != null)
                        {
                            <td><small>@persona.DosisAplicadas.ElementAtOrDefault(0).Vacuna</small></td>
                        }
                        else
                        {
                            <td><small>"No administrada"</small></td>
                        }
                        @if (@persona.DosisAplicadas.ElementAtOrDefault(1) != null)
                        {
                            <td><small>@persona.DosisAplicadas.ElementAtOrDefault(1).Vacuna</small></td>
                        }
                        else
                        {
                            <td><small>"No administrada"</small></td>
                        }
                        @if (@persona.DosisAplicadas.ElementAtOrDefault(2) != null)
                        {
                            <td><small>@persona.DosisAplicadas.ElementAtOrDefault(2).Vacuna</small></td>
                        }
                        else
                        {
                            <td><small>"No administrada"</small></td>
                        }
                        <td><a class="nav-link" href="@Url.Action("Vacunar", "Aplicaciones", new { id = persona.Id })"><small> Aplicar</small></a></td>
                        <td><small>@Html.ActionLink("Ver detalle", "Details", new { id = persona.Id })</small></td>
                    </tr>
                     }
                </tbody>
                
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#dataTable').DataTable();
    });
</script>